.starry-night {
    position: relative;

}

.starry-night img {
    max-width: 100%;
    height: auto;
}

.starry-text {
    position: absolute;
    top: 25%;
    padding: 20px;
}

.starry-text h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
    font-color: #ffffff; 
}