@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

.arts-bg {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(canvas.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20vh;
            width: 50%;
            background-color: rgba(0, 0, 0, 0.8);
            font-family: 'Castoro Titling', cursive;
            font-size: 60px;
            color: white;
        }

